body{
    margin: 0px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

html{
    background-color: rgb(234, 216, 247);
    font-family: "Quicksand" , sans-serif;
    padding-bottom: 450px;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: rgb(98, 25, 167);
}

h1{
    text-align: left;
    margin-left: 10px;
    color: rgb(98, 25, 167);
}


.nav-bar ul{
    list-style-type: none;
    background-color: blueviolet;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav-bar a{
    color:rgb(255, 240, 254);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-bar a:hover{
    background-color: rgb(220, 202, 236);
    color: blueviolet;
}

.nav-bar li{
    float: left;
}

.middle{
    display: flex;
    justify-content: center;
}

.side-bar{
    background-color: rgb(224, 248, 243);
    padding: 20px;
    margin-right: 10px;
}
