body{
    margin: 0px;
}

main{
    margin-left: 10px;
    margin-right: 10px;
}

html{
    background-color: rgb(51, 4, 77);
    font-family: "Quicksand" , sans-serif;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: rgb(88, 17, 127);
}

h1{
    text-align: left;
    margin-left: 10px;
    color: rgb(255, 240, 254);
}


.nav-bar ul{
    list-style-type: none;
    background-color: rgb(51, 4, 77);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-style: italic;
}

.nav-bar a{
    color:rgb(255, 240, 254);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav-bar a:hover{
    background-color: rgb(51, 4, 77);
    color: rgb(224, 159, 241);
}

.nav-bar li{
    float: left;
}

.middle{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 247, 251);
}

.side-bar{
    padding: 20px;
    margin-right: 10px;
}

.flavors{
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.flavor-name{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-size: larger;
    background-color: rgb(243, 238, 248);
    display: none;
}

.flavor-item{
    position: relative;
}

.flavor-item:hover .flavor-name{
    display: block;
}

.footer{
    position: fixed;
    height: 30px;
}

.footer-nav li{
    float: left;
}

.footer-nav a:hover{
    background-color: rgb(51, 4, 77);
    color: rgb(248, 237, 167);
}

.footer-nav a{
    color:rgb(255, 240, 254);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.footer-nav ul{
    list-style-type: none;
    background-color: rgb(51, 4, 77);
    font-style: italic;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}